[Unit]
Description=NodeJS Schedule App
After=network.target
 
[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/nodeapps/schedule-backend/
ExecStart=npm run start
Restart=on-failure
 
[Install]
WantedBy=multi-user.target

